@import '../global.module.scss';

.alert {
  position: absolute;
  width: 90%;
  top: $header_height + 50px;
  left: 5%;
  border-radius: 5px;
  z-index: 100;
  padding: 8px 12px;
}

.alert_error {
  background-color: $color_alert_error_background;
}

.alert_success {
  background-color: $color_alert_success_background;
}

.title {
  font-weight: bold;
}

.alert_title_error {
  color: $color_alert_error_title_typography;
}

.alert_title_success {
  color: $color_alert_success_title_typography;
}

.alert_message_error {
  color: $color_alert_error_message_typography;
}

.alert_message_success {
  color: $color_alert_success_message_typography;
}

@media (min-width: 768px) {

  .alert {
    width: calc(60vw);
    top: $header_height_desktop + 20px;
    left: calc(100vw / 2 - 60vw / 2);  
  }

}