@import '../global.module.scss';

.filter_control_container {
  position: absolute;
  z-index: 15;
  top: $filter_top;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.hidden {
  display: none;
}

.show {
  display: static;
}

.list_default_container {
  display: flex;
  flex-flow: row nowrap;
  height: 45px;
  width: 185px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-radius: 6px;
}

.filter_list_container {
  width: 185px;
  margin-top: 5px;
  // border: 1px solid #ccc;
  padding: 12px 0 12px 10px;
  border-radius: 6px;
}

.filter_list_item {
  padding: 5px 0 0 0;
}

@media (min-width: 768px) {

  .filter_control_container {
    top: $filter_top_desktop;
    left: calc(100vw - 185px - 75px);
  }

}