@import '../global.module.scss';

header {
  height: $header_height;
  padding: 0 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: $title_font_size_mobile;
  font-weight: bold;
}

.style_btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4em;
}

.style_btn_text {
  margin-left: 10px;
}