@import '../global.module.scss';

header {
  height: $header_height;
  padding: 0 $horizontal_spacing_mobile;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: $title_font_size_mobile;
  font-weight: bold;
}

.style_btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4em;
}

.style_btn_text {
  margin-left: 10px;
}

@media (min-width: 768px) {

  header {
    padding: 0 $horizontal_spacing_desktop;
    height: $header_height_desktop;
  }

  .title {
    font-size: $title_font_size_tablet;
  }

  .style_btn {
    font-size: 1.1rem;
  }

}