@import './global.module.scss';

/* global */
.app_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}