@import './global.module.scss';

/* global */

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

/* section-specific */

main, footer {
  padding: 30px;
}

.footer {
  text-align: center;
  font-size: $title_font_size_desktop;
}
