/* styleguide colors */
$dark_blue: hsl(209, 23%, 22%);  //(Dark Mode Elements)
$dark_blue2: hsl(207, 26%, 17%); //(Dark Mode Background)
$dark_blue3: hsl(200, 15%, 8%); //(Light Mode Text)
$dark_gray: hsl(0, 0%, 52%); //(Light Mode Input)
$light_gray0: #e8e8e8;; //(Light Mode Background)
$light_grey0: #e8e8e8;;
$white: hsl(0, 0%, 100%); //(Dark Mode Text & Light Mode Elements)

/* global colors */
$color_alert_error_background: #fdebea;
$color_alert_error_title_typography: #77201a;
$color_alert_error_message_typography: #d6392f;
$color_alert_error_icon_background: #f37971;
$color_alert_success_background: #e4f2d9;
$color_alert_success_title_typography: #497328;
$color_alert_success_message_typography: #629935;
$color_alert_success_icon_background: #7bc043;

/* colors light */
$color_tertiary_typography_light: #7f7f7f;
$color_box_shadow_light: #b2b2b2;

/* colors dark */
$color_secondary_typography_dark: #fff;
$color_box_shadow_dark: #232227;

/* global typography */
$title_font_size_mobile: 1.6rem;
$title_font_size_tablet: 1.3rem;
$title_font_size_desktop: 1.0rem;

$subtitle_font_size_mobile: 1.3rem;
$detail_body: 0.9rem;
$detail_important: 1.0rem;

$control_typography_size: 1.0rem;

.control_text {
  font-size: 0.9rem;
}

/* global spacing */
$horizontal_spacing_mobile: 30px;
$horizontal_spacing_desktop: 60px;

$header_height: 150px;
$filter_top: 240px;

$header_height_desktop: 70px;
$filter_top_desktop: 100px;

$footer_height: 100px;

/* global link */


* {
  box-sizing: border-box;
}

.light_background_primary {
  background-color: $white;
}

.light_background_secondary {
  background-color: $light_gray0;
}

.light_typography_primary {
  color: $dark_blue3;
}

.light_link_typography {
  color: $dark_blue3;
}

.light_button_typography {
  color: $color_tertiary_typography_light;
}

.light_icon {
  color: #666;
}

.light_typography_placeholder::placeholder {
  color: #666;
}



.dark_background_primary {
  background-color: $dark_blue;
}

.dark_background_secondary {
  background-color: $dark_blue2;
}

.dark_typography_primary {
  color: $white;
}

.dark_link_typography {
  color: $white;
}

.dark_icon {
  color: $white;
}

.dark_typography_placeholder::placeholder {
  color: $white;
}

.link {
  text-decoration: none;
}

.row_global {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.row_global_top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (min-width: 768px) {

  .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .row_top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
}
